*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: calibri;
}
body{
    background-color: #607d8b;
}
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
   
}
.wrapper{
    width: 420px;
    background-color: #fff;
    padding: 30px 30px 0px 30px;
    border-radius: 5px;
}
h2{
    text-align: center;
    color: rgb(98, 90, 90);
}
.para1{
    color: rgb(98, 90, 90);
    margin-top: 15px;
    text-align: center;
}
.name{
    display: flex;  
    gap: 20px;
    
}
input[type="text"]{
    width: 100%;
    margin-top: 25px;
    padding: 10px;
    height: 35px;
      ]
    
}
input[type="email"],input[type="password"]{
    margin-top: 20px;
    width: 100%;
    height: 35px;
    padding: 10px;
    
}
/* input[type="submit"]{
    margin-top: 20px;
    width: 100%;
    height: 35px;
    background-color: green;
    color: #fff;
    font-weight: bold;
    
}
input[type="submit"]:hover{
    background-color: darkgreen;
} */
input[type="checkbox"]{
    
    margin-top: 20px;
   
}
 
a{
    text-decoration: none;
    color: green;
    
}
p a{
   
    color:green;
}
.para{
    color: rgb(98, 90, 90);
    text-align: center;
    margin:20px;
}
.check{
    color: rgb(98, 90, 90);
}
/* a:hover{
    background-color: rgb(183, 184, 183);
} */
a{
    font-weight: bold;
}
.homepage{
    display: flex;
    margin-top: 15px;
    width:100%;
    background-color:rgb(0, 171, 0);
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid rgb(39, 39, 152);
    color: #fff;
    font-size: 16px;
   
    justify-content: center;
    text-transform: uppercase;
    height: 35px;
    line-height: 35px;
    border: none;


}
.homepage:hover{
    background-color: green;
}